<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="product-list">
        <!-- Los productos se agregarán dinámicamente aquí -->
    </ul>

    <!-- Se incluye el script para manejar WebSocket -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtime.js"></script>
</body>
</html>
